*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: darkgrey;
}
/*  HEADER*/

header{
    height: 60px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: black;
    
}
header > section#menu-header{
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
header section > menu > span#gaveta-apps{
    color: white;
    float: left;
    width: 50px;
    cursor: pointer;
}
header >  section > section#btn-login{
    width: 60px;
    height: 40px;
    border: 1px solid white;
}
header >  section > section#btn-login > input{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
/*Menu Flutuante*/

nav#itensMenu{
    height: 90%;
    width: 290px;
    display: none;
    margin-top: 0px;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-right-radius: 10px;
    background-color: #424242;
}

/*ITENS DO MENU FLUTUANTE */

section#menu > menu{
    width: 240px;
    margin-top: 20px;
    background-color: red;
}
section#menu > menu > ul{
    text-align: center;
    height: 400px;
    border: 1px solid white;

}
section#menu > menu > ul > li{
    width: 100%;
    display: block;
    cursor: pointer;
    margin-top: 10px;
    list-style: none;
    line-height: 28px;
    background-color: blue;
}
section#links{
    width: 240px;
    border: 1px solid white;
    background-color: red;
}
section#links > ul{
    text-align: center;
}
section#links > ul > li{
    height: 30px;
    display: block;
    cursor: pointer;
    margin-top: 10px;
    list-style: none;
    background-color: blue;
}
nav#itensMenu >  section#painelAdm {
    display: none;
    color: white;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid white;
}
nav#itensMenu >  section#painelAdm > span#AcessoPainel{
    margin-top: 22px;
    color: white;
    cursor: pointer;

}
section#voltar{
    width: 100%;
    display: block;
    padding: 10px;
    text-align: right;
    background-color: red;
    border-bottom-right-radius: 10px;
}
section#voltar > span#previous{
    float: right;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    background-color: blue;
}
/* CORPO DA PÃGINA*/

main{
    text-align: center;
    flex-grow: 1;
    background-color: white;
    
}
main > section#formulario{
    color: white;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 290px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: wheat;
    text-shadow: 1px 1px 2px black;
    transform: translate(-50%,-50%);
}
main > section#formulario > form > div.inputs{
    max-width: 260px;
    height: 41px;
    margin: 40px auto;
    border-radius: 10px;
    background-color: darkblue;
}
main > section#formulario > form > div.inputs > label {
    cursor: pointer;
}
main > section#formulario > form > div > label > span{
    padding-top: 7px;
    padding-left: 10px;
    width: 15%;
    color: white;

}
main > section#PainelAdm{
    display: none;
    top: 50%;
    left: 50%;
    width: 290px;
    height: 400px;
    color: white;
    position: absolute;
    border-radius: 10px;
    background-color: #424242;
    transform: translate(-50%,-50%);
}
main > section#PainelAdm label{
    font-size: 1.2em;

}
main > section#PainelAdm input.coletajornal{
    height: 40px;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 40px;

}
main > section#PainelAdm input{
    height: 40px;
    width: 100px;
    cursor: pointer;
}
main > section#PainelAdm  span#JornalVoltar{
    cursor: pointer;
    color: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 50%;
    background-color: blue;
    border: 2px solid white;
}
input.logando{
    height: 40px;
    width: 100px;
    cursor: pointer;
}
#formVoltar{
    cursor: pointer;
    color: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 50%;
    background-color: blue;
    border: 2px solid white;
}
main > section#formulario > form > div.inputs > input{
    width: calc(99% -1px);
    float: right;
    height: 37px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right:2px;
    border: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}
main > section#jornais{
    width:90%;
    height:auto;
    margin: auto;
    padding: 10px;
    background-color: pink;
}
main > section#jornais > div{
    margin-top: 20px;
    height: 260px;
    width: 250px;
    display: inline-block;
    margin-left: 10px;
    background-color: blue;
    border: 1px solid black;
}
main > section#jornais > div > span {
    display: block;
    cursor: pointer;
    background-color: white;
}
footer{
    width: 100%;
    height: 60px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    background-color: black;
}