@media screen and (orientation:landscape) and (max-width:480px){
    /*ITENS DO MENU FLUTUANTE */
    nav#itensMenu{
        width: 50%;
        align-items:center;
        justify-content: end;
        flex-direction:column;
    }

   
    section#menu > menu{
        max-width: 200px;
    }
    section#links{
        max-width: 200px;
      
    }
    nav#itensMenu >  section#painelAdm{
        max-width: 300px;

    }
    /* PAINEL LOGIN */
    main > section#formulario{
        position: fixed;
        margin-top: 50px;
        width: 90%;
        height: 250px; 
      
    }
    main > section#formulario > form > div.inputs{
        max-width: 220px;
        margin: 10px 1px 20px 20px;
        float: left;
    }
    main section#formulario form > p > span#formVoltar{
        margin-top: 20px;
        border-radius: 50%;
    }

    /*PAINEL ADM FLUTUANTE*/

    main > section#PainelAdm{
        width: 90%;
        height:290px;
        margin-top: 64px;
        
    }
    main > section#PainelAdm > form > p > input.coletajornal{
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    main > section#PainelAdm > form > p >  span#JornalVoltar{
        margin-top: 20px;
    } 

}

 @media screen and (min-width:720px) and (orientation:landscape){
    main > section#formulario{
        height: auto;
        width: 600px;       
    }
    main > section#PainelAdm{
        height: auto;
        width: 600px;
    }
    
} 
